const dbConfig = require('./db-config.json');

module.exports = {
  port: 9000,
  socketIoPort: 9001,
  postgres: dbConfig,
  tokenExpiresIn: '4h',
  offlineDelayTime: 2000,
  url: {
    attachmentExtraction: 'http://localhost:9002/attachmentExtraction',
  },
};
Í